@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: pink;
    background-color: #000;
    margin: 0;
    font-family: "Lilita One", sans-serif;
}

.heading{
    color: transparent;
    font-size: 6.5rem;
    text-align: center;
    background-image: linear-gradient(155deg, #ffadb7 35%, #ff6a85 75%, #ff99c0 90%);
    -webkit-background-clip: text; 
/*     -webkit-text-fill-color: transparent; */
}